<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Enter Exam Password</h1>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Exam Password" formControlName="examPassword" required>
          <mat-error *ngIf="isFieldInvalid('examPassword')">
            Please enter your exam password.
          </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-raised-button color="primary" type="submit">Start Exam</button>
          <button mat-raised-button color="warning" type="submit">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>