<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <span>
    Exam Portal
  </span>
  <span class="fill-remaining-space"></span>

  <div *ngIf="isStudent$ | async as isStudent">
    <a mat-button routerLink="/join-exam">Join Exam</a>
    <a mat-button routerLink="/add-report">See Report</a>
  </div>
  <div *ngIf="isTeacher$ | async as isTeacher">
    <a mat-button routerLink="/join-exam">Create Exam</a>
  </div>
  <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
</mat-toolbar>